<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <script src="script.js" defer></script>
    <title>Some Folder | Jorian Woltjer</title>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <nav>
          <div class="logo">
            <a href="/"><img src="/jw.webp" /></a>
          </div>
          <ol>
            <li><a href="/">Home</a></li>
            <li><a href="https://book.jorianwoltjer.com" target="_blank">Book</a></li>
            <li><a href="/blog" class="active">Blog</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/contact">Contact</a></li>
          </ol>
        </nav>
      </header>
      <main></main>
      <footer>
        <small>Copyright © <span id="year"></span> Jorian Woltjer. All rights reserved.</small><br /><small
          >Open source on
          <a target="_blank" href="https://github.com/JorianWoltjer/jorianwoltjer.com">GitHub</a>
          (built with <a class="no-style" target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">JavaScript</a> +
          <a class="no-style" target="_blank" href="https://docs.rs/axum/latest/axum/">Axum</a>)</small
        >
      </footer>
    </div>
  </body>
</html>
