{% extends "base.html" %} {% block title %}CTF{% endblock %} {% block main %}
<nav>
  <ol class="breadcrumbs">
    <li><a href="#~">~</a></li>
    <h1>CTF</h1>
  </ol>
  <hr />
  <p class="text-dark">
    Writeups from Capture the Flag (CTF) events I participated in. About web, scripting, crypto, reversing and everything in between. All writeups
    include detailed explanations of how everything works.
  </p>
</nav>
<div class="card horizontal">
  <a class="image" href="/blog/p/ctf/x3ctf-blogdog-new-css-injection-xs-leak"><img src="/blogdog.webp" /></a>
  <div class="info">
    <div class="body">
      <div class="tags"><span class="tag tag-green">Web</span><span class="tag tag-blue">Scripting</span>+342 points</div>
      <h3><a href="/blog/p/ctf/x3ctf-blogdog-new-css-injection-xs-leak">x3CTF - blogdog (+ new CSS Injection XS-Leak!)</a></h3>
      <p>
        A "hard web xssbot" challenge about a fun browser quirk with the is= attribute to perform CSS Injection. Bypass the strict CSP with an
        unintended new technique to XS-Leak a selector's result by detecting the site crashing
      </p>
    </div>
    <div class="footer text-darker">
      <span>4 months ago</span> -
      <span class="darken"></span>
        <i class="fa-regular fa-eye"></i>
        2383 views</span
      >
    </div>
  </div>
</div>
{% endblock %}
