{% extends "base.html" %} {% block title %}Hidden Posts{% endblock %} {% block main %}
<h1>Hidden Posts</h1>
{% for post in posts %}
<div class="card horizontal">
  <a class="image" href="/blog/h/{{ post.slug }}?s={{ post.signature }}"><img src="/img/blog/{{ post.img }}" /></a>
  <div class="info">
    <div class="body">
      <div>
        <div class="tags">
          {% for tag in post.tags %}
          <span class="tag tag-{{ tag.color }}">{{ tag.name }}</span>
          {% endfor %}
        </div>
        <span>{% if post.points > 0 %} +{{ post.points }} points{% endif %}</span>
      </div>
      <h3><a href="/blog/h/{{ post.slug }}?s={{ post.signature }}">{{ post.title }}</a></h3>
      <p>{{ post.description }}</p>
    </div>
    <div class="footer text-darker">
      <span>{{ crate::relative_time(post.timestamp) }}</span> -
      <span class="darken">
        <i class="fa-regular fa-eye"></i>
        <span><b>Hidden</b></span>
      </span>
    </div>
  </div>
</div>
{% endfor %} {% endblock %}
