{% extends "base.html" %} {% block title %}Home{% endblock %} {% block scripts %}
<script src="/tsparticles.slim.bundle.min.js"></script>
<script src="/index.js"></script>
{% endblock %} {% block main %}
<div class="index-center">
  <h1>
    <span class="regular"><i>Hello,</i> I am </span><span class="pronunciation" title="YO-ree-yan">Jorian</span> Woltjer
  </h1>
  <img width="250" height="250" src="/logo.webp" />
  <h2 id="welcome">Welcome to my website!</h2>
</div>
<div id="tsparticles"></div>
{% endblock %}
