{% extends "base.html" %} {% block title %}{{ post.title }}{% endblock %} {% block scripts %}
<script src="/highlightjs/highlight.min.js"></script>
<link rel="stylesheet" href="/highlightjs/github-dark.min.css" />
<script nonce="{{ metadata.nonce }}">
  // TODO: can this be done in rust?
  hljs.highlightAll();
</script>
{% endblock %} {% block main %}
<article>
  <nav>
    <ol class="breadcrumbs">
      <li><a href="/blog">~</a></li>
      {% for (path, part) in crate::breadcrumbs_from_slug(post.slug) %}
      <li><a href="/blog/f/{{ path }}">{{ part }}</a></li>
      {% endfor %}
    </ol>
    <h1>{{ post.title }}</h1>
    <div class="info">
      <div>
        <div class="tags">
          {% for tag in post.tags %}
          <span class="tag tag-{{ tag.color }}">{{ tag.name }}</span>
          {% endfor %}
        </div>
        <span>{% if post.points > 0 %} +{{ post.points }} points{% endif %}</span>
      </div>
      <div class="text-darker">
        <span>{{ crate::relative_time(post.timestamp) }}</span> -
        <span class="darken">
          <i class="fa-regular fa-eye"></i>
          {% if post.hidden %}<b>Hidden</b>{% else %}{{ post.views }} views{% endif %}
        </span>
      </div>
    </div>
    <hr />
    {% if metadata.logged_in %}
    <a class="big-button" href="/blog/admin/post/{{ post.id }}"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
    {% endif %}
    <details open class="toc">
      <!-- TODO: generate in rust with html parser -->
      <summary tabindex="-1">Table of Contents</summary>
      <hr />
      <ol>
        <li><a href="#test">The Challenge</a></li>
        <li><a href="#test">CSS Injection</a></li>
        <li>
          <a href="#test2">Timing Attack (inspiration)</a>
          <ul>
            <li><a href="#test3">3rd, bit of a longer one</a></li>
            <li><a href="#test4">test4</a></li>
          </ul>
        </li>
        <li><a href="#test5">And the final conclusion something</a></li>
      </ol>
    </details>
  </nav>
  {{ post.html|safe }}
</article>
<!-- TODO: always at the bottom, maybe set min height on article? -->
<p class="blog-footer">The end! If you have any questions feel free to ask me anywhere on my <a target="_blank" href="/contact">Contacts</a>.</p>
{% endblock %}
