@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font-header: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* --font-main: "Space Grotesk", sans-serif; */
  --font-main: "Inter", sans-serif;
  --font-light: "Montserrat", sans-serif;
  --color-primary: #3498db;
  --color-primary-light: #7bbfef;
  --color-text: #ededed;
  --color-bg-light: #303030;
  --color-bg-lighter: #6c757d;
  --color-bg: #222222;
  --color-bg-dark: #1a1a1a;
  --color-fg-dark: #919191;
  --color-fg-light: #cccccc;
  --red: #e84118;
  --orange: #ef7a1d;
  --yellow: #f39c12;
  --light-yellow: #fed330;
  --green: #27ae60;
  --blue: #3498db;
  --bsky-blue: #0085ff;
  --discord-blue: #5865f2;
  --purple: #a55eea;
}

html,
body {
  background: var(--color-bg);
  color: var(--color-text);
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--font-main);
  font-size: 18px;
  line-height: 1.5;
}
body {
  padding-top: 120px;
}
footer {
  background: var(--color-bg-light);
  color: var(--color-fg-dark);
  font-family: var(--font-light);
  text-align: center;
  line-height: 1;
  padding: 20px;
}
header,
footer {
  flex-grow: 0;
  flex-shrink: 0;
}
header {
  background: var(--color-bg-light);
  padding: 8px 0;
  position: fixed;
  height: 70px;
  width: 100%;
  top: 0;
  z-index: 2;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  transition: top 0.2s ease-out;

  &.nav-hidden {
    top: -86px;
  }
}

header .logo {
  height: 70px;
  display: flex;
  transition: transform 0.25s ease;

  a,
  img {
    height: 60px;
    width: auto;
    align-self: center;
  }
}
header .logo:hover {
  transform: scale(1.05);
}
header nav {
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  width: 100%;
}
header nav ol {
  list-style: none;
  display: flex;
  padding-left: 1rem;
  margin: 0;
  padding: 0;
  margin-left: auto;
}
header nav ol a {
  display: block;
  text-decoration: none;
  font-weight: 700;
  border: 3px solid var(--color-fg-light);
  border-radius: 12px;
  padding: 10px 20px;
  margin: 10px;
  transition: 0.3s ease;
  color: white;
}
header nav ol a.active {
  border-color: var(--color-primary) !important;
}
header nav ol a:hover {
  background-color: white;
  border-color: white;
  color: var(--color-bg-light);
}
header nav ol a.active:hover {
  background-color: var(--color-primary);
}
footer {
  margin-top: 2rem;
}
.wrapper {
  box-sizing: border-box;
  min-height: 100%;

  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
}

summary {
  font-size: 1.2rem;
  color: var(--color-primary);
  font-family: var(--font-monospace);
}
.toc summary {
  list-style: none;
  pointer-events: none;
}
.toc hr {
  border-color: var(--color-bg-lighter);
  margin: 0.5rem 0;
}
.toc {
  float: right;
  background-color: var(--color-bg-dark);
  border: 2px solid var(--color-bg-light);
  border-radius: 10px;
  padding: 0.8em 1.2em 0.8em 1.2em;
  margin: 0 0 1em 1em;
}
.toc ol {
  margin: 0;
}
.toc li {
  font-family: var(--font-header);
}
.toc li a {
  font-weight: 600;
  display: block;
  padding: 6px 0;
  color: inherit;
  transition: color 0.2s;
  text-decoration: none;
  position: relative;
  margin-left: -40px;
  padding-left: 40px;
}
.toc li a:hover {
  color: var(--color-primary);
  text-decoration: underline;
}
.toc li::marker {
  z-index: -1;
}
.toc ul {
  list-style: none;
  font-size: 0.9rem;
  padding: 0;
  margin: 0 0 0 1em;
}
@media (max-width: 768px) {
  .toc {
    float: none;
    margin-left: 0;
  }

  .toc summary {
    list-style: revert;
    pointer-events: revert;
  }
}

ol.breadcrumbs {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
.breadcrumbs li {
  display: inline;
  font-family: var(--font-monospace);
}
.breadcrumbs li::after {
  content: "/";
  font-size: 1.2rem;
  padding-left: 0.5rem;
  color: var(--color-bg-lighter);
}
.breadcrumbs li a {
  color: var(--color-fg-light);
  text-decoration: none;
  transition: color 0.25s;
  margin-right: -1rem;
  padding-right: 1rem;
  position: relative;
}
.breadcrumbs li a:hover {
  color: white;
  text-decoration: underline;
}

h1 {
  color: var(--color-primary);
  font-family: var(--font-monospace);
  font-weight: normal;
  font-size: 30px;
  text-shadow: 0px 4px 15px rgb(from var(--color-primary) r g b / 50%);
}
article h1 {
  margin-top: 0;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header);
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
svg.inline {
  height: 1em;
  vertical-align: -0.125em;
}
article hr {
  border: none;
  border-top: 1px var(--color-bg-light) solid;
  margin: 1rem 0;
}
.text-muted {
  font-family: var(--font-light);
  color: #6c757d !important;
}
.darken {
  opacity: 80%;
}
.info {
  display: flex;
}
.info :nth-child(2) {
  margin-left: auto;
}
.blog-footer {
  text-align: center;
  color: var(--color-fg-dark);
  margin-top: 3rem;
}
a {
  color: var(--color-fg-light);
  transition: color 0.25s ease;
}
a:hover {
  color: var(--color-primary-light);
}
a.no-style {
  color: inherit;
  text-decoration: none;
}
a.no-style:hover {
  color: var(--color-fg-light);
  text-decoration: underline;
}

.tags {
  font-family: var(--font-light);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.tag {
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 100rem;
  padding: 0.3rem 0.8rem;
  margin-right: 10px;
  margin-bottom: 5px;
  font-size: 0.8rem;
  font-weight: 600;
}
.tag-editing,
.tag-green {
  background-color: var(--green);
}
.tag-red,
.tag-utility {
  background-color: var(--red);
}
.tag-blue,
.tag-coding {
  background-color: var(--blue);
}
.tag-encoding,
.tag-yellow {
  background-color: var(--yellow);
}
.tag-gray {
  background-color: var(--gray);
}
.tag-add {
  cursor: pointer;
  background-color: var(--background);
  color: var(--foreground);
  width: calc(5ch + 1.5rem);
  border: 1px solid var(--gray);
  transition: 0.25s ease;
}
.tag-add:hover {
  background-color: var(--background-light);
}
.tag-add:focus {
  width: calc(15ch + 1.5rem);
}
.tag-add::-webkit-calendar-picker-indicator {
  display: none !important;
}
.tag-delete {
  cursor: pointer;
  font-size: 1rem;
  transform: translate(0.3rem, 0.1rem);
  color: var(--background-light);
  opacity: 60%;
  padding: 0.3rem;
  margin: -0.3rem;
  transition: 0.25s ease;
}
.tag-delete:hover {
  color: black;
}
