{% extends "base.html" %} {% block scripts %}
<script nonce="{{ middleware.nonce }}">
  document.getElementById("back").addEventListener("click", (e) => {
    e.preventDefault();
    history.back();
  });
</script>
{% endblock %} {% block main %}
<div class="center text-center">
  <i class="fa-solid fa-triangle-exclamation large"></i>
  <h1>404 Not Found</h1>
  <p class="text-dark">
    The path <code class="bright">{{ url }}</code> does not exist.<br />
    Try going back to <a href="/">Home</a> or to the <a id="back" href="#">previous page</a>.
  </p>
  <p class="text-darker">(or please <a href="/contact">contact me</a> if you think this is a mistake)</p>
</div>
{% endblock %}
