<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% let title = metadata.title ~ " | Jorian Woltjer" %}
    <title>{{ title }}</title>
    <meta name="theme-color" content="#3498db" />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Jorian" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta property="og:title" content="{{ title }}" />
    <meta name="twitter:title" content="{{ title }}" />
    {% if let Some(description) = metadata.description %}
    <meta name="description" content="{{ description }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta name="twitter:description" content="{{ description }}" />
    {% endif %} {% if let Some(image) = metadata.image %}
    <meta property="og:image" content="{{ crate::SITE_BASE_URL }}{{ image }}" />
    <meta name="twitter:image" content="{{ crate::SITE_BASE_URL }}{{ image }}" />
    <meta name="twitter:card" content="summary_large_image" />
    {% else %}
    <meta property="og:image" content="{{ crate::SITE_BASE_URL }}/img/logo.png" />
    <meta name="twitter:image" content="{{ crate::SITE_BASE_URL }}/img/logo.png" />
    <meta name="twitter:card" content="summary" />
    {% endif %}
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ crate::SITE_BASE_URL }}{{ metadata.url }}" />
    <meta name="twitter:url" content="{{ crate::SITE_BASE_URL }}{{ metadata.url }}" />
    {% let domain = crate::SITE_BASE_URL.split('/').nth(2).unwrap() %}
    <meta property="og:site_name" content="{{ domain }}" />
    <meta name="twitter:domain" content="{{ domain }}" />
    <link rel="alternate" type="application/rss+xml" href="/blog/rss.xml" title="Blog | Jorian Woltjer" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Fira+Code:wght@300..700&family=Major+Mono+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/vendor/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <script nonce="{{ middleware.nonce }}" type="speculationrules">
      {
        "prerender": [
          {
            "where": {
              "and": [{ "href_matches": "/*" }]
            },
            "eagerness": "moderate"
          }
        ]
      }
    </script>
    {%- block head -%}{% endblock %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <nav>
          <div class="logo">
            <a href="/"><img src="/img/jw.png" /></a>
          </div>
          <ol>
            {% if middleware.logged_in %}
            <li><a href="/logout" id="logout">Logout</a></li>
            {% endif %}
            <li><a href="/">Home</a></li>
            <li><a href="https://book.jorianwoltjer.com" target="_blank">Book</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ol>
        </nav>
      </header>
      <main>{% block main %}{% endblock %}</main>
      <footer>
        <small>Copyright © <span id="year"></span> Jorian Woltjer. All rights reserved.</small><br />
        <small>
          Open source on
          <a target="_blank" href="https://github.com/JorianWoltjer/jorianwoltjer.com">GitHub</a>
          (built with <a class="no-style" target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">JavaScript</a> +
          <a class="no-style" target="_blank" href="https://docs.rs/axum/latest/axum/">Axum</a>)
        </small>
      </footer>
    </div>
    <script src="/assets/js/base.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
