{% extends "base.html" %} {% block main %}
<div class="center">
  <h1>Contact</h1>
  <div class="contact-buttons">
    <a href="https://github.com/JorianWoltjer" target="_blank">
      <div class="contact-button" data-color="#7a7a7a">
        <div class="contact-button-icon">
          <i class="fa-brands fa-github"></i>
        </div>
        <div class="contact-button-text">GitHub</div>
      </div>
    </a>
    <a href="https://discordapp.com/users/298743112421867521" target="_blank">
      <div class="contact-button" data-color="#5865f2">
        <div class="contact-button-icon">
          <i class="fa-brands fa-discord"></i>
        </div>
        <div class="contact-button-text">Discord</div>
      </div>
    </a>
    <a href="https://bsky.app/profile/jorianwoltjer.com" target="_blank">
      <div class="contact-button" data-color="#0085ff">
        <div class="contact-button-icon">
          <i class="fa-brands fa-bluesky"></i>
        </div>
        <div class="contact-button-text">Bluesky</div>
      </div>
    </a>
    <a href="https://twitter.com/J0R1AN" target="_blank">
      <div class="contact-button" data-color="#3498db">
        <div class="contact-button-icon">
          <i class="fa-brands fa-twitter"></i>
        </div>
        <div class="contact-button-text">Twitter</div>
      </div>
    </a>
    <a href="https://ctftime.org/user/83640" target="_blank">
      <div class="contact-button" data-color="#ef7a1d">
        <div class="contact-button-icon">
          <i class="fa-solid fa-flag"></i>
        </div>
        <div class="contact-button-text">CTFtime</div>
      </div>
    </a>
    <a href="https://www.youtube.com/c/J0R1AN/" target="_blank">
      <div class="contact-button" data-color="#e84118">
        <div class="contact-button-icon">
          <i class="fa-brands fa-youtube"></i>
        </div>
        <div class="contact-button-text">YouTube</div>
      </div>
    </a>
  </div>
  <div>
    <i class="fa-solid fa-envelope"></i>
    <a href="mailto:contact@jorianwoltjer.com">contact@jorianwoltjer.com</a>
  </div>
</div>
{% endblock %}
