{% extends "base.html" %} {% block main %}
<nav>
  <ol class="breadcrumbs">
    <li><a href="/blog">~</a></li>
    {% for (path, part) in crate::breadcrumbs_from_slug(folder.slug) %}
    <li><a href="/blog/f/{{ path }}">{{ part }}</a></li>
    {% endfor %}
    <h1>{{ folder.title }}</h1>
  </ol>
  {% if middleware.logged_in %}
  <a class="big-button" href="/blog/admin/folder/{{ folder.id }}"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
  <a class="big-button" href="/blog/admin/post?parent={{ folder.id }}"><i class="fa-solid fa-plus"></i> New Post</a>
  <a class="big-button" href="/blog/admin/folder?parent={{ folder.id }}"><i class="fa-solid fa-folder-plus"></i> New Folder</a>
  <a class="big-button" href="/blog/admin/link?parent={{ folder.id }}"><i class="fa-solid fa-link"></i> New Link</a>
  {% endif %}
  <hr />
  <p class="text-dark folder-description">{{ folder.description }}</p>
</nav>
{% for content in folder.contents %}
<div class="card horizontal">
  {% match content %} {% when Content::Post with (post) %}
  <a class="image" href="/blog/p/{{ post.slug }}"><img src="/img/blog/{{ post.img }}" /></a>
  <div class="info">
    <div class="body">
      <div>
        <div class="tags">
          {% for tag in post.tags %}
          <span class="tag tag-{{ tag.color }}">{{ tag.name }}</span>
          {% endfor %}
        </div>
        <span>{% if post.points > 0 %} +{{ post.points }} points{% endif %}</span>
      </div>
      <h3><a href="/blog/p/{{ post.slug }}">{{ post.title }}</a></h3>
      <p>{{ post.description }}</p>
    </div>
    <div class="footer text-darker">
      {{ crate::relative_time(post.timestamp) }} -
      <span class="darken">
        <i class="fa-regular fa-eye"></i>
        {{ post.views }} views
      </span>
    </div>
  </div>
  {% when Content::Link with (link) %}
  <a class="image" href="{{ link.url }}" target="_blank" {% if middleware.logged_in %}data-admin-link-id="{{ link.id }}" {% endif %}>
    <img src="/img/blog/{{ link.img }}" />
  </a>
  <div class="info">
    <div class="body">
      <div>
        <div class="tags">
          <span class="tag tag-gray">
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
            External
          </span>
        </div>
      </div>
      <h3>
        <a href="{{ link.url }}" target="_blank" {% if middleware.logged_in %}data-admin-link-id="{{ link.id }}" {% endif %}>{{ link.title }}</a>
      </h3>
      <p>{{ link.description }}</p>
    </div>
    <div class="footer text-darker">
      {{ crate::relative_time(link.timestamp) }} -
      <i class="fa-solid fa-link"></i>
      {{ crate::get_domain(link.url) }}
    </div>
  </div>
  {% when Content::Folder with (folder) %}
  <a class="image" href="/blog/f/{{ folder.slug }}"><img src="/img/blog/{{ folder.img }}" /></a>
  <div class="info">
    <div class="body">
      <h3>
        <a href="/blog/f/{{ folder.slug }}"><i class="fa-solid fa-folder-closed"></i> {{ folder.title }}</a>
      </h3>
      <p>{{ folder.description }}</p>
    </div>
    <div class="footer text-darker">{{ crate::relative_time(folder.timestamp) }}</div>
  </div>
  {% endmatch %}
</div>
{% endfor %} {% endblock %}
