{% extends "base.html" %} {% block scripts %}
<script src="/assets/vendor/tsparticles.slim.bundle.min.js"></script>
<script src="/assets/js/index.js"></script>
{% endblock %} {% block main %}
<div class="center home-page">
  <h1>
    <span class="regular"><i>Hello,</i> I am </span><span class="pronunciation" title="YO-ree-yan">Jorian</span> Woltjer
  </h1>
  <img width="250" height="250" src="/img/logo.png" />
  <h2 id="welcome">Welcome to my website!</h2>
</div>
<a href="/img/88x31.gif" target="_blank" class="img-88x31">
  <img src="/img/88x31.gif" title="88x31" />
</a>
<div id="tsparticles"></div>
{% endblock %}
