{% extends "base.html" %}{% block title %}{% if let Some(link) = existing_link %}Edit {{ link.title }}{% else %}Create Link{% endif %}{% endblock %}
{% block scripts %}
<script src="/assets/js/new_link.js"></script>
{% endblock %} {% block main %}
<h1>Create Link</h1>
{% if let Some(link) = existing_link %}
<form action="/blog/admin/link/{{ link.id }}" id="form" method="put">
  {% else %}
  <form action="/blog/admin/link" id="form" method="post">
    {% endif %}
    <div class="input-group">
      <input
        type="text"
        name="title"
        placeholder="Title"
        value="{% if let Some(link) = existing_link %}{{ link.title }}{% endif %}"
        required
        autofocus
      />
      <input type="url" name="url" placeholder="URL" value="{% if let Some(link) = existing_link %}{{ link.url }}{% endif %}" required />
    </div>
    <textarea name="description" placeholder="Description...">{% if let Some(link) = existing_link %}{{ link.description }}{% endif %}</textarea>
    <input
      type="text"
      name="img"
      class="full-width"
      placeholder="Image path..."
      value="{% if let Some(link) = existing_link %}{{ link.img }}{% else %}placeholder.png{% endif %}"
    />
    <div class="input-label">
      <label for="folder">
        <i class="fa-solid fa-folder"></i>
      </label>
      <select name="folder" id="folder">
        {% for folder in folders %} <option value="{{ folder.id }}" {% if Some(*folder.id) == parent || (existing_link.is_some() &&
        existing_link.as_ref().unwrap().folder == folder.id) %}selected{% endif %}> {{ folder.title }} {% endfor %}
      </select>
    </div>
    <div id="card-preview"></div>
    <!-- prettier-ignore -->
    <input type="checkbox" name="featured" id="featured" {% if let Some(link) = existing_link %}{% if link.featured %}checked{% endif %}{% endif %} />
    <label for="featured">Featured</label>
    <div class="buttons-right">
      <button type="submit" class="primary">Save</button>
    </div>
  </form>
  {% endblock %}
</form>
